@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
    min-height: 100vh;
    margin: 0%;
    padding: 0%;
    font-family: "Raleway", sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 100px;
    background-color: darkgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#filler{
    height: 85px;
}

.logo{
    font-size: 36px;
    border: 0px;
    font-weight: bold;
}

#img-baner{
    height: 800px;
    background-color: skyblue;
    font-size: 32px;
    background-image:linear-gradient(rgba(0,100,0,1), rgba(0,0,0,.2) 10%, rgba(0,0,0,.2) 50%, rgba(0,0,0,.2) 80%, darkred 95%), url(baner.jpg);
    background-size: cover;
    padding: 50px 500px 25px;
    text-align: left;
    color: white;
}

#main{
    height: 850px;
    background-color: whitesmoke;
}

#main-text{
    font-size: 24px;
    display: flex;
}
#main-text img{
    float: left;
    padding: 80px;
    border-radius: 150px;

}
#main-text p{
    float: right;
    padding: 150px 100px;
    text-align: left;
}

#main-buttons{
    background-color: darkred;
    height: 90px;
    padding: 75px 0px;
    display: flex;
    justify-content: space-around;
}

#main-buttons a{
    padding: 25px 20px 65px;
    font-size: 36px;
}

footer{
    clear:both;
    height: 150px;
    background-image: linear-gradient(to bottom right,yellow, goldenrod);
    padding: 25px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 5px;
    border: 4px white solid;
    border-radius: 15px;
    transition: 0.1s;
}



a:hover{
    border: 6px white solid;
}
a:active{
    border: 2px white solid;
}

main, footer{
    text-align: center;
}

@media screen and (max-width: 768px) {
    header{
        width: 20%;
        text-align: left;
    }
    a{
        font-size: 16px;
        border: 0px white solid;
        padding: 0px;
        margin: 10px;
    }
    
    #filler{
        height: 170px;
    }
    #img-baner {
        padding: 5px 2%; /* Adjusted padding for smaller screens */
        background-size: 100%;
        background-repeat: no-repeat;
        height: 225px;
        font-size: 16px;
    }
}